<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Madroños</title>
  <!-- BOOTSTRAP CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>

<body class="body">

  <nav class="navbar navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">MicroInov</a>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">

            <a class="btn btn-succes my-2" href="/madronos" role="button">TODOS</a> <br>
            <a class="btn btn-danger my-2" href="/madronos/estados/Sonora" role="button">Sonora</a><br>
            <a class="btn btn-primary my-2" href="/madronos/habito/Árbol" role="button">Arbol</a><br>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onclick="buscar()">
              <label class="form-check-label" for="flexCheckDefault">
                Default checkbox
              </label>
            </div>

            <!-- div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onclick="buscar()">
              <label class="form-check-label" for="flexCheckDefault">
                Default checkbox
              </label>
            </div-->

          </div>
        </div>
      </div>

      <div class="col-md-7">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>N°</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < madronos.length; i++) { %>
              <tr>
                <td>
                  <%= i + 1%>
                </td>
                <td>
                  <strong>
                    <%= madronos[i].especie %>
                  </strong>
                </td>
                <td>
                  <a href="/madronos/info/_id/<%= madronos[i]._id %>" class="btn btn-succes">
                    Información
                  </a>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>

      </div>
    </div>
  </div>

</body>

<script>
  function buscar() {
    if (flexCheckDefault.checked == true) {
      window.location = "/madronos/estados/Hidalgo/"; 
    }
    if (flexCheckDefault.checked == false) {
      window.location = "/madronos/";

    }
  }
</script>

</html>