body{
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
  }

  .texto{
    text-align: justify;
    font-family: 'Delius', cursive;
    font-size: 15px;
    letter-spacing: 1px;

  }
 

  .textotabla{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
  }


  .textotabla2{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .titulo{
    font-family: 'Style Script', cursive;
    font-size: 40px;
  }
  .titulo2{
    font-family: 'Style Script', cursive;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .descripcion{
    font-family: 'Petrona', cursive;
    font-size: 18px;
    font-weight: bold;
  }
  h1{
    font-size: 50px;
    font-family: 'Style Script', cursive;
    text-align: center;
    font-weight: bold;
  }
  .glosario{
    color:ivory;
  }

  .subtitulos{
    font-family: 'Spectral SC', serif;
    font-size: 20px;
  }

input[type="text"],
input[type="password"]{
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none;
}

.input-contenedor{
  margin-bottom: 15px;
  border: 1px solid #aaa;
}

.body2{
background-image: url("/../img/planta.jpg");
background-size: 100%;
}

.body2:before {
content:'';
position: fixed ;
      top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgb(202,200,219);
background: linear-gradient(90deg, rgb(103, 101, 126) 0%, rgba(178,246,162,0.4766281512605042) 100%, rgba(0,212,255,1) 100%);
}

.breadcrumb{
font-size: 17px;
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 80%);
letter-spacing: 5px;
font-family: sans-serif;
position: relative;
}

.breadcrumb-item a{
text-decoration: none;
color: #11999e;
}

.navbar{
font-family: 'Spicy Rice', cursive;
background: linear-gradient(90deg, rgba(27,26,41,1) 0%, rgba(16,87,44,1) 94%, rgba(54,120,41,1) 100%);
font-size: 18px;
}



.bg-color{
background: linear-gradient(90deg, rgba(27,26,41,1) 0%, rgba(33,242,115,0.4990371148459384) 0%, rgb(55, 122, 42) 100%);
height: 100%;
width: 100%;
position: fixed;
}

footer{
position: relative;
bottom: 0;
right: 0;
left: 0;
background: #3b3b3b;
height: auto;
width: 100%;
font-family: "Open Sans";
padding-top: 40px;
color:#000;
}

.input-contenedor{
margin-bottom: 15px;
border: 1px solid #aaa;
}
.icon{
min-width: 50px;
text-align: center;
color: #333;
}
.button{
border: none;
width: 100%;
color: black;
font-size: 20px;
background:  rgb(227, 228, 222);
padding: 15px 20px;
border-radius: 5px;
cursor: pointer;
}

.estilo-color1{
background: rgb(27,26,41);
background: linear-gradient(90deg, rgba(27,26,41,1) 0%, rgba(57,228,126,0.8995973389355743) 0%, rgba(54,120,41,1) 100%);
}

.nos{
  background: rgba(255, 255, 255, 0.5);
}

#madroñoimg{
  width: 250px; 
  height: 250px;
}
#madroñoimg3{
  width: 250px; 
  height: 350px;
}

.color1{
  background-color:mediumseagreen;

}
.color3{
  background-color:rgb(2, 51, 51);

}
.color2{
  background-color:mintcream;

}

.bodyfondo{
  background-color:black
}


.color3{
background-color: #336699; 
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) { 
      padding: 1em !important; 
    }
  }
  th, td:before {
    color: #dd5;
  }

.catgr{
  background-color: #333;
  color: #dd5;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
}

.category{
  padding-left: 1.5rem;
  margin-top: .5rem;
  
}

.left-section{
  padding-top: 1rem;
}

.filtro{
  padding-bottom: 1rem;
}
#apply_filter{
position: -webkit-sticky;
bottom: 20px;
}

img.zoom {
  position:relative; z-index:1;
  width: 350px;
  height: 200px;
  /*-webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;*/
}

.transition {
  -webkit-transform: scale(1.8); 
  -moz-transform: scale(1.8);
  -o-transform: scale(1.8);
  transform: scale(1.8);
}